:root {
    --body-BackgroundColor: #f4f4f9;
    --btn-primary: #5cabff;
    --btn-secondry: #ffeeee;
    --btn-third: #b37474;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-BackgroundColor);
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
    padding: 20px;
}

h1 {
    text-align: center;
}

#todoInput {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#addTodo {
    padding: 12px 20px;
    background-color: var(--btn-primary);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li:hover {
    background-color: aliceblue;
}
li:last-child {
    border-bottom: none;
}

.filterBtn {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--btn-secondry);
    cursor: pointer;
    transition: background-color 0.3s;
}

.filterBtn:hover {
    background-color: var(--btn-third);
}